<div class="row">
  <div class="col-md-12">
    <h3 class="center" style="text-align: center">Sign In</h3>
  </div>
</div>

<div class="row">
  <div class="box-container center-block">
    <div class="box-card">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :email, class: 'sr-only' %>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </div>
              <%= f.email_field :email, class: 'form-control', Placeholder: 'Email *', autofocus: true %>
            </div>
            <% if resource.errors.full_messages_for(:email).present? %>
              <div class="error-text">
                <%= resource.errors.full_messages_for(:email).join(", ") %>
              </div>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'sr-only' %>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </div>
              <%= f.password_field :password, class: 'form-control', Placeholder: 'Password *', autocomplete: 'off' %>
            </div>
            <% if resource.errors.full_messages_for(:password).present? %>
              <div class="error-text">
                <%= resource.errors.full_messages_for(:password).join(", ") %>
              </div>
            <% end %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %> Remember Me
              </label>
              <%#= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
        <div class="box-action">
          <%= f.submit "Sign In", class: 'btn btn-xl btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="box-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
