<div class="row">
  <div class="col-md-12">
    <h3 class="center">Secret Codes</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_tag generate_secret_codes_path, class: 'form-inline' do %>
              <div class="form-group form-group-sm">
                <%= label_tag "size" ,"Size"  %>
                <%= select_tag "size", options_for_select(SecretCode::SIZE_OPTIONS, params[:size] || SecretCode::DEFAULT_SIZE_OPTION), class: 'form-control' %>
              </div>
              <%= submit_tag "Generate", class: 'btn btn-sm btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Email</th>
          </tr>

          <% @secret_codes.each do |secret_code| %>
            <tr>
              <td><%= secret_code.id %></td>
              <td><%= secret_code.code %></td>
              <td><%= secret_code.user.try(:email) %></td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="panel-footer" style="padding: 0px">
        <%= paginate @secret_codes %>
      </div>
    </div>
  </div>
</div>