header {
  background-color: #fff;
  height: 80px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.logo img{
  height: 79px;
}

ul.pagination { margin: 10px; }

.error-text {
  color: #E8443B;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: -5px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.btn-xl,
.btn-group-xl > .btn {
  padding: 12px 20px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.box-container {
  max-width: 380px;

  .box-card {
    box-shadow: 0px 0px 3px 0px gray;
    margin-bottom: 10px;

    .box-body {
      padding: 20px 30px;
      background-color: #FFFFFF;

      .box-logo{
        padding: 20px 0px;
      }

      .input-group-addon {
        background-color: inherit;
        # color: #4688f1;
      }

    }

    .box-action {
      .btn { width: 100%; border-radius: 0px; }
    }
  }

  .box-links {
    a {
      color: #4688f1;
    }

    .col-md-6:nth-child(odd) {
      a {
        float: left; text-align: left;
      }
    }

    .col-md-6:nth-child(even) {
      a { float: right; text-align: right;}
    }
  }


}