<!DOCTYPE html>
<html>
  <head>
    <title>SecretCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='container'>
        <div class="row">
          <div class="col-md-12">

            <div class="pull-left">
              <div class="logo">
                <h2>Admin</h2>
              </div>
            </div>

            <div class="pull-right">
              <% if user_signed_in? %>
                <div class="btn-group" style="margin-top: 23px; margin-right: 10px;">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.email %>&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu right-align">
                    <% if can? :manage, SecretCode %>
                      <li><%= link_to 'Secret Codes', secret_codes_path %></li>
                    <% end %>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE' %></li>
                  </ul>
                </div>
              <% else %>
                <div class="btn-group" style="margin-top: 23px; margin-right: 10px;">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign In&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu right-align">
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                  </ul>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-info alert-dismissible"" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-danger alert-dismissible"" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
