<div class="row">
  <div class="col-md-12">
    <h3 class="center" style="text-align: center">Sign Up</h3>
  </div>
</div>

<%#= devise_error_messages! %>

<div class="row">
  <div class="box-container center-block">
    <div class="box-card">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :email, class: 'sr-only' %>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </div>
              <%= f.email_field :email, class: 'form-control', Placeholder: 'Email *' %>
            </div>
            <% if resource.errors.full_messages_for(:email).present? %>
              <div class="error-text">
                <%= resource.errors.full_messages_for(:email).join(", ") %>
              </div>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :secret_code_id, class: 'sr-only' %>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
              </div>
              <%= f.select :secret_code_id, options_from_collection_for_select(SecretCode.not_used, :id, :code), { prompt: 'Select Code' }, { class: 'form-control' }  %>
            </div>
            <% if resource.errors.full_messages_for(:secret_code).present? %>
              <div class="error-text">
                <%= resource.errors.full_messages_for(:secret_code).join(", ") %>
              </div>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'sr-only' %>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </div>
              <%= f.password_field :password, class: 'form-control', Placeholder: 'Password *', autocomplete: 'off' %>
            </div>
            <% if resource.errors.full_messages_for(:password).present? %>
              <div class="error-text">
                <%= resource.errors.full_messages_for(:password).join(", ") %>
              </div>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: 'sr-only' %>
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </div>
              <%= f.password_field :password_confirmation, class: 'form-control', Placeholder: 'Confirm Password *', autocomplete: 'off' %>
            </div>
            <% if resource.errors.full_messages_for(:password_confirmation).present? %>
              <div class="error-text">
                <%= resource.errors.full_messages_for(:password_confirmation).join(", ") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="box-action">
          <%= f.submit "Sign Up", class: 'btn btn-xl btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="box-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
